{% if breadcrumbs %}
  <nav class="breadcrumb has-succeeds-separator is-small mb-4" aria-label="breadcrumbs">
    <ul>
      {% for crumb in breadcrumbs %}
        {% if loop.last %}
          <li class="is-active"><a href="#" aria-current="page">{{ crumb.name }}</a></li>
        {% else %}
          <li>
            {% if crumb.path == "" %}
              <a href="{{ url_for('web.dashboard') }}">{{ crumb.name }}</a>
            {% else %}
              <a href="{{ url_for('web.node_or_story', path_rel=crumb.path) }}">{{ crumb.name }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
